{% extends 'base.html.twig' %}

{% block title %}Handlarz{% endblock %}

{% block body %}

<div class="main-container">
    <div>Menu</div>

    <div class="mt-3">
        <p>Witaj Podróżniku!</p>
        <p>Kupiec jest prostą grą, w której celem jest zbicie jak największego majątku, poprzez kupno i sprzedaż towarów pomiędzy miastami.</br>
        Trzy miasta, trzy rodzaje towarów, różne ceny.</p>
    </div>
    <div>
        <p>Wybierz miasto, w którym chciałbyś zacząć:</p>
        <ul class="list-unstyled">
            <li><a href="game/madryt">Madryt</a></li>
            <li><a href="game/kopenhaga">Kopenhaga</a></li>
            <li><a href="game/astana">Astana</a></li>
            <li><a href="game/ryga">Ryga</a></li>
            <li><a href="game/tallin">Tallin</a></li>
            <li><a href="game/luksemburg">Luksemburg</a></li>
            <li><a href="game/random">Losowa mapa</a></li>
        </ul>
    </div>
</div>

{% endblock %}
