{% extends 'base.html.twig' %}

{% block title %}Handlarz{% endblock %}

{% block body %}

<div class="mainContainer">
    <div>Menu</div>

    <div>
        <p>Witaj Podróżniku!</p>
        <p>Kupiec jest prostą grą, w której celem jest zbicie jak największego majątku, poprzez kupno i sprzedaż towarów pomiędzy miastami.</p>
        <p>Trzy miasta, trzy rodzaje towarów, różne ceny.</p>
    </div>
    <div>
        <p>Wybierz miasto, w którym chciałbyś zacząć:</p>
        <ul>
            <li>Luksemburg (łatwe++)</li>
            <li>Astana (łatwe+)</li>
            <li>Ryga (łatwe)</li>
            <li>Losowa mapa</li>
        </ul>
    </div>
</div>

{% endblock %}
