<table class="table table-sm table-borderless">
    <thead>
        <tr>
            <th data-bs-toggle="tooltip" data-bs-placement="bottom" 
                title="Imiona Twoich konkurentów.">
            konkurent</th>
            <th data-bs-toggle="tooltip" data-bs-placement="bottom" 
                title="Zakupione przez nich towary w ostatniej turze.">
            zakup</th>
            <th data-bs-toggle="tooltip" data-bs-placement="bottom" 
                title="Przebyta przez konkurentów trasa od ostatniej tury.">
            trasa</th>
            <th data-bs-toggle="tooltip" data-bs-placement="bottom" 
                title="Posiadany przez konkurentów majątek.">
            majątek</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="ai-name"></td>
            <td class="ai-transaction"></td>
            <td class="ai-transit"></td>
            <td class="ai-wealth"></td>
        </tr>
    </tbody>
</table>
