<table class="table table-sm mt-3 align-middle">
    <tr>
        <td class="player-position" colspan="4"></td>
    </tr>
    <tr class="goods-names">
        <th></th>
        {% for good in config.world.goods %}
            <th>{{ good }}</th>
        {% endfor %}
    </tr>
    <tr class="cargo-quantity">
        <th>ładunek [szt.]</th>
    </tr>
    <tr class="buy">
        <th>kup [szt.]</th>
    </tr>
    <tr class="sell">
        <th>sprzedaj [szt.]</th>
    </tr>
    <tr class="prices">
        <td colspan="4">Ceny</td>
    </tr>
</table>