<table class="table table-sm table-borderless">
    <thead>
        <tr>
            <th>majątek</th>
            <th>rekord planszy</th>
            <th>pozostałe tury</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="wealth"></td>
            <td class="map-record"></td>
            <td class="turns-left"></td>
        </tr>
    </tbody>
</table>
