<table class="table table-sm table-borderless">
    <thead>
        <tr>
            <th>majątek</th>
            <th>rekord planszy</th>
            <th>pozostały czas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="wealth"></td>
            <td class="stage-record"></td>
            <td class="turns-left">10</td>
        </tr>
    </tbody>
</table>
