<table class="table table-sm table-borderless">
    <thead>
        <tr>
            <th>majątek</th>
            <th>rekord planszy</th>
            <th>pozostałe tury</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="wealth" data-bs-toggle="tooltip" data-bs-placement="bottom" 
                title="Twój obecny majątek. Za pieniądze można kupować towary i później sprzedawać je z zyskiem w innych miastach."></td>
            <td class="map-record" data-bs-toggle="tooltip" data-bs-placement="bottom" 
                title="Obecny rekord na tej mapie. Spróbuj go pobić!"></td>
            <td class="turns-left" data-bs-toggle="tooltip" data-bs-placement="top" 
                title="Tyle tur pozostało do końca gry. 
                Gdy gra się skończy, wszystkie towary jakie posiadasz zostaną automatycznie sprzedane, a Twój wynik będzie porównany z obecnym rekordem."></td>
        </tr>
    </tbody>
</table>
