{% extends 'base.html.twig' %}

{% block title %}Handlarz{% endblock %}

{% block body %}

<div class="main-container">
    <div class="js-data d-none" data-json="{{ data }}"></div>
    <div><a href="{{ path("app_home") }}">Menu</a></div>
    <div class="player-info container-fluid mt-3">
        {% include("game/_player_info.html.twig") %}
    </div>
    <div class="map" style="grid-template-columns: {{ style.map.grid_template_columns }}">
        {% include("game/_map.html.twig") %}
    </div>
    <div class="city-info container-fluid">
        {% include("game/_city_panel.html.twig") %}
    </div>
</div>


{% endblock %}
