.main-container {
    width: 660px;
    margin: auto;
    text-align: center;
}

.player-info table thead th {
    width: 33%;
}

.map {
    display: grid;
    overflow: visible; 
    border: 10px solid green;
    border-radius: 5px;
}

.tile {
    height: 32px;
    width: 32px;
    background-color: rgb(0, 200, 0);
    overflow: visible;
    position: relative;
}

.map .player-position {
    position: absolute;
    top: -6px;
    left: 0px;
    cursor: default;
}

.map .aiPlayer0-position, .map .aiPlayer1-position, .map .aiPlayer2-position {
    position: absolute;
    cursor: default;
}

.map .aiPlayer0-position {
    top: -6px;
    left: 22px;
}

.map .aiPlayer1-position {
    top: 12px;
    left: 22px;
}

.map .aiPlayer2-position {
    top: 12px;
    left: 0px;
}

.city-name {
    position: absolute;
    right: 0px;
    z-index: 1000;
    cursor: default;
}

.results-table {
    border-collapse: collapse;
}

.results-table td {
    padding: 4px 10px;
}

.player-row {
    font-weight: bold;
}

#map {
    background: rgb(0, 128, 0);
    top: 500px;
}
